<div class="row">
	<div class="large-8 medium-6 small-11 column right">
		<fieldset>
			<h3>Not sure what this page is?</h3>
			<p>Don't worry, you probably shouldn't be here anyways. That shouldn't prevent you from checking out these <%= link_to "sweet Shibe Sales", root_path %> though!</p>
			
		</fieldset>
	</div>
	<!--<div class="large-4 medium-6 small-11 column left">
	<fieldset>
		<legend>Sign up</legend>
		
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
			<label>
		  <div><%= f.label :email %><br />
			</label>
		  <%= f.email_field :email, autofocus: true %></div>
			<label>
		  <div><%= f.label :password %><br />
		  	</label>
		    <%= f.password_field :password, autocomplete: "off" %></div>
		    <label>
		  <div><%= f.label :password_confirmation %><br />
		  </label>
		    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
		
		  <div><%= f.submit "Sign up", class: "button" %></div>
		<% end %>
	</fieldset>
	
	<%= render "devise/shared/links" %>
	</div>-->
</div>
