<div class="panel quiet-text">
	<h1>Frequently asked questions</h1>

	<hr>
	<h3>Q: What is <%= link_to "Dogecoin", "http://dogecoin.com/" %></h3>
	<p>A: Dogecoin is a fun, new and rapidly growing form of digital currency. This form of digital currency is called "cryptocurrency"; a type of digital currency. Cryptocurrency is completely anonymous, decentralized, and extremely secure. Think of it as “Internet Currency” for the modern age</p>

	<hr>
	<h3>Q: What is Shibe Sales?</h3>
	<p>A: Shibe Sales is a Dogecoin friendly way to buy games at discount that you can’t get anywhere else!</p>

	<hr>
	<h3>Q: How are your services?</h3>
	<p>A: Check out <%= link_to "our listing", "http://www.dogecoin.link/item/shibesales/" %> on Dogecoin.link for customer reviews.</p>

	<hr>
	<h3>Q: How do I use Dogecoin?</h3>
	<p>A: Head on over to <%= link_to "How To Doge", "http://howtodoge.com/" %> to get started using Dogecoin!</p>

	<hr>
	<h3>Q: How was <%= link_to "this site", "/" %> made?</h3>
	<p>A: With an awesome tutorial from <%= link_to "One Month Rails", "https://onemonthrails.com/"%></a>!</p>
</div>
