<% if user_signed_in? %>
<%= link_to 'New Listing', new_game_path, {:class => "button success"}%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Description</th>
      <th>Reducedprice</th>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.user.email if game.user %></td>
        <td><%= game.description %></td>
        <td><%= game.reducedPrice %></td>
        <td><%= game.sale %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<% @games.each do |game| %>
<div class="large-4 small-6 columns">
  <%= link_to game do%>
   <% image_tag game.image.url %>
   <div>
     <h4><%= game.title %> <span class="sale">-<%= game.sale %>% </span></h4>
     <p class="strikeout">Ð 1,000</p>
     <p>Ð <%= game.reducedPrice %></p>
   </div>
  <% end %>
</div>
<% end %>
