<!--Need to find best practice place to define this -->
<% doge_price = RestClient.get('https://www.dogeapi.com/wow/?a=get_current_price') %>
<% parsed_price = JSON.parse doge_price %>
<% conversion_rate = parsed_price["data"]["amount"] %>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_game_path, {:class => "button success"}%>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Description</th>
      <th>Price (USD)</th>
      <th>Sale (% off)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.user.email if game.user %></td>
        <td><%= game.description %></td>
        <td>$<%= game.reducedPrice %></td>
        <td>-<%= game.sale %>%</td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<% @games.each do |game| %>
<div class="large-4 small-6 columns">
  <%= link_to game do%>
   <%= image_tag game.image.url, :class => "style_image" %>
  <div class="panel">
   <div class="inline">
     <!--<%= game.title %>--> <span class="sale">-<%= game.sale %>% </span>
     

     <span class="price">Ð <span id="convert"><%= number_with_delimiter(((((game.reducedPrice.to_i - game.reducedPrice.to_i * game.sale / 100) / conversion_rate) / 100).ceil)* 100 , :delimiter => ',') %></span></span>
   </div>
  </div>
  <% end %>
</div>
<% end %>
