- unless (@game.stock == nil) or (@game.stock > 0)
  %h2 Nobody here but us chickens!
  %p
    The link you've clicked doesn't lead anywhere! Not sure where you wanted to go, but #{link_to "here's a link to our main page.", games_path}
- else
  - conversion_rate = 0.000267033
  %p#notice= notice
  = image_tag @game.image.url
  %p
  %h3
    %span#game-title= @game.title
  %p
    = @game.description.html_safe
  %p
    %strong Price:
    = succeed "\xC3\x90" do
      %span#reduced-price
        %span#convert= @price_in_doge
  /
    <p>
    <strong>Sale:</strong>
    <haml:loud> @game.sale </haml:loud>%
    </p>
  %fieldset
    %legend Checkout
    %form{:action => "https://www.coinpayments.net/index.php", :method => "post"}
      %input{:name => "email", :placeholder => "Your purchase will be delivered to this email", :type => "email"}/
      %input{:name => "cmd", :type => "hidden", :value => "_pay"}/
      %input{:name => "reset", :type => "hidden", :value => "1"}/
      %input{:name => "merchant", :type => "hidden", :value => "1314720bb062281182391f79c0d4d232"}/
      = hidden_field_tag 'item_name', @game.title
      %input{:name => "currency", :type => "hidden", :value => "DOGE"}/
      = hidden_field_tag 'amountf', @game_price
      %input{:name => "quantity", :type => "hidden", :value => "1"}/
      %input{:name => "allow_quantity", :type => "hidden", :value => "0"}/
      %input{:name => "want_shipping", :type => "hidden", :value => "0"}/
      %input{:name => "success_url", :type => "hidden", :value => "worked.com"}/
      %input{:name => "cancel_url", :type => "hidden", :value => "didntwork.com"}/
      %input{:name => "allow_extra", :type => "hidden", :value => "1"}/
      %button.button.success
        Purchase at #{@game.sale}% off
    %small *Your game will be delivered within 24 hours of your purchase
  - if user_signed_in?
    = link_to 'Edit', edit_game_path(@game)
    |
    \#{link_to 'Back', games_path}
