.row
  .large-8.medium-6.small-11.column.right
    %fieldset
      %h2 ¯\(°_o)/¯
      %h3 Not sure what this page is?
      %p
        Don't worry, you probably shouldn't be here anyways. That shouldn't prevent you from checking out these #{link_to "sweet Shibe Sales", root_path} though!
  .large-4.medium-6.small-11.column.left
    %fieldset
      %legend Admin Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %label
        %div
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        %label
        %div
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          %div
            = f.check_box :remember_me
            = f.label :remember_me
        %div= f.submit "Sign in"
      = render "devise/shared/links"
