%p#notice= notice
- if user_signed_in?
  %p
    %strong Title:
    = @post.title
  %p
    %strong Content:
    = @post.content.html_safe
  %p
    %strong Published:
    = @post.published
  %p
    %strong Author:
    = @post.author
  = link_to 'Edit', edit_post_path(@post)
  |
  \#{link_to 'Back', posts_path}
- else
  .row
    .large-10.small-12.columns.panel
      %h3= @post.title
      %small
        = @post.author
        = @post.published
      .horizontal-line
      %br/
      %p= @post.content.html_safe
